# Android build & IDE
.gradle/
.idea/
local.properties
*.iml
build/
app/build/

# WebView & Assets
*.log
*.tmp
*.bak
*.swp
.DS_Store
Thumbs.db

# Node & Web (falls du mal npm nutzt)
node_modules/
dist/
.env
libs/*.mjs
nohup.out
app/src/main/linguaflow_backups/
app/src/main/assets/linguaflow_backups/
app/src/main/assets/linguaflowai/modules/globeModule-2.js
app/src/main/assets/linguaflowai/libs/*.cjs
app/src/main/assets/linguaflowai/libs/*.mjs